body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font: 12px/1.5tahoma, arial, 5 b8b 4 f53;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: couriernew, courier, monospace;
}
small {
  font-size: 12px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #000;
}
fieldset,
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  background-color: #f2f2f2;
  line-height: 1.5;
  font-size: 16px;
  cursor: url("https://cdn.jsdelivr.net/gh/inkss/common@master/cursor/left_ptr.png"), auto;
}
a:hover {
  cursor: url("https://cdn.jsdelivr.net/gh/inkss/common@master/cursor/pointer.png"), pointer;
}
p,
input,
pre code,
textarea {
  cursor: url("https://cdn.jsdelivr.net/gh/inkss/common@master/cursor/text.png"), text;
}
.main {
  min-height: calc(100vh - 190px);
  box-sizing: border-box;
}
.bg-color {
  background-color: #42b983;
}
.top-btn-color {
  background-color: #42b983;
}
.color-primary {
  color: #42b983 !important;
}
a {
  color: #42b983;
  text-decoration: none;
}
.border-color {
  border: 2px solid #42b983;
}
[v-cloak] {
  display: none;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
::-webkit-scrollbar-thumb {
  background-color: #42b983;
  background-image: -webkit-linear-gradient(45deg, rgba(255,255,255,0.4) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.4) 50%, rgba(255,255,255,0.4) 75%, transparent 75%, transparent);
  border-radius: 3em;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
@media (max-width: 551px) {
  html {
    font-size: 14px;
  }
}
::-moz-selection {
  background: rgba(66,185,131,0.8);
  color: #fff;
}
::selection {
  background: rgba(66,185,131,0.8);
  color: #fff;
}
.bg-floor {
  background: url("https://img11.360buyimg.com/ddimg/jfs/t1/169624/29/16/4603017/5fec2c79Eecbd536a/308b28b82a013cd2.png");
  background-size: cover;
  transition: all 0.3s;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}
@-moz-keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.header {
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  box-sizing: border-box;
  transition: all 0.3s;
}
.header .header-content {
  min-width: calc(60% + 150px);
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-content .navbar {
  height: 100%;
  display: flex;
}
.header .header-content .navbar .menu {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.header .header-content .navbar .menu .menu-item {
  float: left;
  list-style: none;
  height: 100%;
  display: inline-block;
  line-height: 60px;
  padding: 0 10px;
  transition: background-color 0.5s;
}
.header .header-content .navbar .menu .menu-item a {
  color: #fff;
  display: block;
  width: 100%;
  height: 100%;
}
.header .header-content .navbar .menu .menu-item:hover {
  background-color: rgba(0,0,0,0.2);
}
.header .blog-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.header .blog-title .avatar {
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  height: 40px;
}
.header .blog-title img {
  width: 100%;
  height: 100%;
}
.header .blog-title a {
  color: #fff;
  margin-left: 5px;
  display: inline-block;
  font-size: 1.6em;
  font-family: "Comic Sans MS", cursive, LiSu, sans-serif;
  text-decoration: none;
}
.header #he-plugin-simple {
  width: 100px;
  margin-right: 60px;
}
.header #he-plugin-simple .s-sticker-tmp,
.header #he-plugin-simple .s-sticker-city {
  color: #fff !important;
}
@media (min-width: 992px) {
  .bars {
    display: none;
  }
}
@media (max-width: 992px) {
  .header .header-content {
    width: 100%;
  }
  .menu {
    display: none;
  }
  .header {
    padding: 0 20px;
  }
  .github-corner {
    display: none;
  }
  .header #he-plugin-simple {
    margin-right: 0;
  }
}
@media (max-width: 551px) {
  .header #he-plugin-simple {
    display: none;
  }
}
.posts {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.posts h3 {
  color: #273849;
  border-bottom: 1px solid #273849;
}
.posts .post {
  box-shadow: 0 1px 20px -6px rgba(0,0,0,0.5);
  width: 100%;
  height: 300px;
  display: flex;
  margin-top: 30px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.posts .post .post-main {
  flex: 1;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
}
.posts .post .post-img {
  flex: 1;
  height: 100%;
  overflow: hidden;
}
.posts .post .post-img a {
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  background-image: url("http://images.bokee.com/artpic_upload/2/0/6/2067714892/3191445171775.gif");
}
.posts .post .post-img a:hover {
  transform: scale(1.2);
}
.posts .post .post-img a img {
  object-fit: cover;
}
.posts .post-info {
  flex: 1;
}
.posts .post-title {
  font-size: 1.4em;
  margin-top: 10px;
}
.posts .post-title .post-title-link {
  color: #273849;
  text-decoration: none;
  font-weight: 700;
  transition: all 0.3s;
}
.posts .post-title .post-title-link:hover {
  color: #42b983 !important;
}
.posts .post-meta {
  display: flex;
  margin-top: 10px;
}
.posts .post-img-mobile {
  display: none;
  overflow: hidden;
  height: 210px;
  margin: 10px 0;
  border-radius: 10px;
}
.posts .post-img-mobile a {
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  background-image: url("http://images.bokee.com/artpic_upload/2/0/6/2067714892/3191445171775.gif");
}
.posts .post-img-mobile a:hover {
  transform: scale(1.2);
}
.posts .post-img-mobile a img {
  object-fit: cover;
}
.posts .post-more {
  line-height: 30px;
}
.posts .post-more a {
  color: #273849;
}
.posts .post-more i {
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.3s;
}
.posts .post-more i:hover {
  color: #42b983;
}
.posts .post-content {
  color: rgba(0,0,0,0.66);
  margin-top: 10px;
  height: 85px;
  line-height: 27px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.posts .post-content a {
  text-decoration: none;
}
.posts .post-time {
  color: #888;
  font-size: 14px;
}
@media (max-width: 992px) {
  .posts {
    width: 95%;
  }
  .posts .post {
    margin-top: 10px;
    flex-direction: column !important;
    height: auto;
  }
  .posts .post .post-main {
    flex: none;
    padding: 20px;
  }
  .posts .post .post-img-mobile {
    display: block;
    height: 350px;
  }
  .posts .post .post-img {
    flex: none;
    height: 210px;
    margin: 10px 0;
    border-radius: 10px;
    display: none;
  }
  .posts .post-more {
    display: none;
  }
}
@media (max-width: 551px) {
  .posts .post .post-img-mobile {
    height: 210px;
  }
}
.post-detail-header {
  width: 100%;
  overflow: hidden;
  height: 50vh;
  background-color: #42b983;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
}
.post-detail-header .title {
  font-family: '楷体';
  font-size: 2rem;
  line-height: 1.3;
  color: #fff;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-weight: normal;
}
@media (max-width: 551px) {
  .post-detail-header {
    height: 30vh;
  }
  .post-detail-header .title {
    font-size: 1.5rem;
  }
}
.row {
  display: flex;
  overflow: hidden;
}
.justify-position {
  justify-content: space-between;
}
.main-content {
  width: 65%;
  margin-right: 10px;
  margin-left: calc(35% - 355px);
  margin-top: 10px;
  transition: width 0.3s;
}
#waifu #live2d {
  margin-left: -50px;
}
.toc-aside {
  color: #273849;
  width: 300px;
  padding: 0 10px;
  background-color: rgba(255,255,255,0.8);
  transition: width 0.3s;
}
.toc-aside .toc-content {
  max-height: calc(100vh - 150px);
  overflow: auto;
  display: inline-block;
  width: 300px;
}
.toc-aside .toc-content .toc-list-item a {
  transition: color 0.3s;
}
.toc-aside .toc-content .toc-list-item a:hover {
  color: #42b983;
}
.toc-aside .toc-aside-title {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
  margin: 35px 0 15px 0;
  position: relative;
}
.toc-aside .toc-aside-title .toc-open-close {
  position: absolute;
  top: 150px;
  left: -25px;
  width: 20px;
  height: 60px;
  font-size: 12px;
  background-color: #fa0;
  color: #fff;
  text-align: center;
  writing-mode: vertical-rl;
  border-radius: 5px;
}
.toc-aside .toc-aside-title i {
  margin-right: 10px;
}
.post-detail {
  padding: 20px 40px;
  color: #273849;
  -webkit-font-smoothing: antialiased;
  line-height: 1.6rem;
  letter-spacing: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px #ccc;
/* 代码块复制按钮 */
/* 代码块复制按钮 */
}
.post-detail .post-title {
  text-align: center;
  font-size: 1.6em;
  color: #273849;
  font-weight: 700;
  margin: 10px 0 30px 0;
}
.post-detail .post-tags-categories {
  display: flex;
}
.post-detail .post-tags-categories .tags,
.post-detail .post-tags-categories .category {
  margin-right: 10px;
}
.post-detail .post-content {
  margin-top: 20px;
}
.post-detail .post-content .headerlink {
  position: relative;
}
.post-detail .post-content h1:hover .headerlink::before,
.post-detail .post-content h2:hover .headerlink::before,
.post-detail .post-content h3:hover .headerlink::before,
.post-detail .post-content h4:hover .headerlink::before,
.post-detail .post-content h5:hover .headerlink::before,
.post-detail .post-content h6:hover .headerlink::before {
  opacity: 1;
}
.post-detail .post-content .headerlink::before {
  content: '#';
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.3s;
  color: #42b983;
}
.post-detail img {
  max-width: 100%;
  margin: 0 50%;
  transform: translateX(-50%);
}
.post-detail blockquote {
  border-left: 5px solid #42b983;
  padding: 1rem 0.8rem 0.2rem 0.8rem;
  background-color: rgba(66,185,131,0.1);
  margin: 0;
  word-break: break-all;
}
.post-detail code {
  padding: 1px 5px;
  top: 13px !important;
  font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier, monospace;
  font-size: 0.91rem;
  color: #d63200;
  background-color: #f8f8f8;
  border-radius: 2px;
}
.post-detail .codeBox {
/* 方便copy代码按钮（btn-copy）的定位 */
  position: relative;
}
.post-detail .codeBox .btn-copy {
  display: inline-block;
  cursor: pointer;
  background-color: #42b983;
  border: 1px solid #42b983;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  padding: 2px 6px;
  position: absolute;
  right: 5px;
  top: 5px;
  opacity: 0;
}
.post-detail .codeBox .btn-copy span {
  margin-left: 5px;
}
.post-detail .codeBox:hover .btn-copy {
  opacity: 1;
}
.post-detail .codeBox:hover .btn-copy:hover {
  background-color: $color-button20%0.5deg;
}
.post-detail :root {
  --side-bar-bg-color: #fff;
  --control-text-color: #777;
  --font-sans-serif: 'Ubuntu', 'Source Sans Pro', sans-serif !important;
  --font-monospace: 'Fira Code', 'Roboto Mono', monospace !important;
}
.post-detail a:not(.toc-link) {
  color: #42b983;
  font-weight: 600;
  padding: 0 2px;
  text-decoration: none;
}
.post-detail h1,
.post-detail h2,
.post-detail h3,
.post-detail h4,
.post-detail h5,
.post-detail h6 {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  line-height: 1.4;
  cursor: url("https://cdn.jsdelivr.net/gh/inkss/common@master/cursor/text.png"), text;
  color: #273849;
}
.post-detail h1:focus,
.post-detail h2:focus,
.post-detail h3:focus,
.post-detail h4:focus,
.post-detail h5:focus,
.post-detail h6:focus {
  outline: none;
}
.post-detail h1:hover a.anchor,
.post-detail h2:hover a.anchor,
.post-detail h3:hover a.anchor,
.post-detail h4:hover a.anchor,
.post-detail h5:hover a.anchor,
.post-detail h6:hover a.anchor {
  text-decoration: none;
}
.post-detail h1 tt,
.post-detail h1 code {
  font-size: inherit !important;
}
.post-detail h2 tt,
.post-detail h2 code {
  font-size: inherit !important;
}
.post-detail h3 tt,
.post-detail h3 code {
  font-size: inherit !important;
}
.post-detail h4 tt,
.post-detail h4 code {
  font-size: inherit !important;
}
.post-detail h5 tt,
.post-detail h5 code {
  font-size: inherit !important;
}
.post-detail h6 tt,
.post-detail h6 code {
  font-size: inherit !important;
}
.post-detail h2 a,
.post-detail h3 a {
  color: #273849;
}
.post-detail h1 {
  padding-bottom: 0.4rem;
  font-size: 2.2rem;
  line-height: 1.3;
}
.post-detail h2 {
  font-size: 1.75rem;
  line-height: 1.225;
  margin: 35px 0 15px;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ddd;
}
.post-detail h3 {
  font-size: 1.4rem;
  line-height: 1.43;
  margin: 20px 0 7px;
}
.post-detail h4 {
  font-size: 1.2rem;
}
.post-detail h5 {
  font-size: 1rem;
}
.post-detail h6 {
  font-size: 1rem;
  color: #777;
}
.post-detail p {
  color: #273849;
}
.post-detail p,
.post-detail blockquote,
.post-detail ul,
.post-detail ol,
.post-detail dl,
.post-detail table {
  margin: 0.8em 0;
}
.post-detail li > ol,
.post-detail li > ul {
  margin: 0 0;
}
.post-detail hr {
  height: 2px;
  padding: 0;
  margin: 16px 0;
  background-color: #e7e7e7;
  border: 0 none;
  overflow: hidden;
  box-sizing: content-box;
}
.post-detail a:first-child h1,
.post-detail a:first-child h2,
.post-detail a:first-child h3,
.post-detail a:first-child h4,
.post-detail a:first-child h5,
.post-detail a:first-child h6 {
  margin-top: 0;
  padding-top: 0;
}
.post-detail h1 p,
.post-detail h2 p,
.post-detail h3 p,
.post-detail h4 p,
.post-detail h5 p,
.post-detail h6 p {
  margin-top: 0;
}
.post-detail li p.first {
  display: inline-block;
}
.post-detail ul,
.post-detail ol {
  padding-left: 30px;
}
.post-detail ul:last-child,
.post-detail ol:last-child {
  margin-bottom: 0;
}
.post-detail blockquote {
  padding: 12px 24px 12px 30px;
  border-left-width: 4px;
  border-left-style: solid;
  border-radius: 4px;
  margin: 1rem 0;
  background-color: rgba(66,185,131,0.1);
  border-color: #42b983;
  position: relative;
}
.post-detail blockquote::before {
  content: '\f129';
  background-color: #42b983;
  position: absolute;
  top: 14px;
  left: -12px;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  font-family: FontAwesome;
  font-size: 14px;
}
.post-detail table {
  padding: 0;
  word-break: initial;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: auto;
}
.post-detail table tr {
  border-top: 1px solid #dfe2e5;
  margin: 0;
  padding: 0;
}
.post-detail table tr:nth-child(2n),
.post-detail thead {
  background-color: #fafafa;
}
.post-detail table tr th {
  font-weight: bold;
  border: 1px solid #dfe2e5;
  border-bottom: 0;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
.post-detail table tr td {
  border: 1px solid #dfe2e5;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
  word-wrap: break-word;
}
.post-detail table tr th:first-child,
.post-detail table tr td:first-child {
  margin-top: 0;
}
.post-detail table tr th:last-child,
.post-detail table tr td:last-child {
  margin-bottom: 0;
}
.post-detail p {
  margin: 2px 2px 10px;
  font-size: 1.05rem;
  line-height: 1.85rem;
}
@media (max-width: 992px) {
  .justify-center {
    justify-content: center;
  }
  .main-content {
    width: 90% !important;
    margin: 0 auto !important;
  }
  .toc-aside {
    display: none;
  }
}
@media (max-width: 551px) {
  .post-detail {
    padding: 15px 15px 20px 18px;
  }
}
.footer {
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.footer .footer-main {
  text-align: center;
}
.footer .footer-main a {
  color: #fff;
}
.footer .footer-main i {
  margin-right: 10px;
  margin-left: 5px;
}
.footer .footer-main .link i {
  cursor: pointer;
}
.footer .footer-main .footer-copyright a {
  text-decoration: underline;
}
.post-tags {
  color: #8a8a8a;
  display: flex;
}
.post-tags i {
  margin-right: 5px;
}
.post-tags .article-tag-list li {
  display: inline-block;
  margin-right: 5px;
}
.post-tags .article-tag-list li a {
  color: #8a8a8a;
}
.post-tags .article-tag-list li a:hover {
  color: #42b983;
}
.tags-header {
  background-color: #42b983;
}
#tags {
  min-height: calc(60vh - 60px);
}
#tags .card .card-content {
  margin: 20px 0 40px 0;
}
#tags .card .card-content .tag-title {
  font-size: 1.6em;
  color: #273849;
  text-align: center;
  padding: 15px 0;
}
#tags .card .card-content .tag-chips {
  text-align: center;
}
#tags .card .card-content .tag-chips a {
  margin: 0 5px;
}
#tags .card .card-content .tag-chips a .tag-content {
  width: 30%;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 10px;
  color: #273849;
  box-shadow: 0 1px 10px -3px rgba(0,0,0,0.5);
  transition: all 0.3s;
  margin-top: 20px;
}
#tags .card .card-content .tag-chips a .tag-content:hover {
  transform: scale(1.2);
}
#tags .card .card-content .tag-chips a .tag-content .tag-length {
  color: #49b1f5;
}
.post-categories {
  color: #8a8a8a;
}
.post-categories i {
  margin-left: 10px;
}
.post-categories .article-category .article-category-link {
  color: #8a8a8a;
}
.post-categories .article-category .article-category-link:hover {
  color: #42b983;
}
.categories-header {
  background-color: #42b983;
}
#categories {
  min-height: calc(60vh - 60px);
}
#categories .card .card-content {
  margin: 20px 0 40px 0;
}
#categories .card .card-content .category-title {
  font-size: 1.6em;
  color: #273849;
  text-align: center;
  padding: 15px 0;
}
#categories .card .card-content .category-chips {
  text-align: center;
}
#categories .card .card-content .category-chips a {
  margin: 0 5px;
}
#categories .card .card-content .category-chips a .category-content {
  width: 30%;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 10px;
  color: #273849;
  box-shadow: 0 1px 10px -3px rgba(0,0,0,0.5);
  transition: all 0.3s;
  margin-top: 20px;
}
#categories .card .card-content .category-chips a .category-content:hover {
  transform: scale(1.2);
}
#categories .card .card-content .category-chips a .category-content .category-length {
  color: #49b1f5;
}
.page-nav {
  display: flex;
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.page-nav .page-nav-pre,
.page-nav .page-nav-next {
  background-color: #42b983;
}
.page-nav .page-nav-pre {
  text-align: right;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  padding: 10px;
  color: #fff;
}
.page-nav .page-nav-pre .ml-5 {
  margin-left: 5px;
}
.page-nav .page-nav-next {
  text-align: right;
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
  padding: 10px;
  color: #fff;
}
.page-nav .page-nav-next .mr-5 {
  margin-right: 5px;
}
@media (max-width: 992px) {
  .page-nav {
    width: 90%;
  }
}
.topArticle {
  width: 60%;
  margin: 20px auto;
  margin-bottom: 0;
  background: #fff;
  box-shadow: 0 1px 20px -6px rgba(0,0,0,0.5);
  padding: 20px;
  padding-bottom: 40px;
  border-radius: 10px;
  box-sizing: border-box;
  transition: all 0.3s;
}
.topArticle h3 {
  color: #273849;
}
.topArticle h3 i {
  margin-right: 5px;
}
.topArticle .articles {
  display: flex;
  flex-wrap: wrap;
}
.topArticle .articles .article-link {
  position: relative;
  flex: 0 0 31.33333%;
  margin: 0 1%;
  display: block;
  height: 180px;
  margin-top: 20px;
  box-shadow: 0 1px 20px -6px rgba(0,0,0,0.5);
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  background: #000;
}
.topArticle .articles .article-link .article {
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-image: url("http://images.bokee.com/artpic_upload/2/0/6/2067714892/3191445171775.gif");
}
.topArticle .articles .article-link .text {
  width: 80%;
  height: 100%;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  display: flex;
  flex-direction: column;
}
.topArticle .articles .article-link .text .text-main {
  flex: 1;
}
.topArticle .articles .article-link .text .title {
  font-weight: 700;
  font-size: 1.2em;
  margin-top: 10px;
  display: -webkit-box;
  line-height: 30px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.topArticle .articles .article-link .text .title a {
  color: #fff;
  transition: all 0.3s;
}
.topArticle .articles .article-link .text .title a:hover {
  color: #42b983 !important;
}
.topArticle .articles .article-link .text .content {
  color: rgba(255,255,255,0.78);
  margin-top: 10px;
  display: -webkit-box;
  line-height: 20px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.topArticle .articles .article-link .text .more {
  display: block;
  height: 30px;
  margin: 5px;
  border-radius: 20px;
  color: #fff;
  transition: all 0.3s;
}
.topArticle .articles .article-link .text .more i {
  margin-right: 5px;
}
.topArticle .articles .article-link .text .more:hover {
  color: #42b983 !important;
}
@media (max-width: 992px) and (min-width: 625px) {
  .topArticle {
    width: 95%;
  }
  .topArticle .articles .article-link {
    flex: 0 0 31.33333%;
    margin-left: 1%;
    margin-right: 1%;
    height: 180px;
  }
}
@media (max-width: 625px) and (min-width: 551px) {
  .topArticle {
    width: 95%;
  }
  .topArticle .articles .article-link {
    flex: 0 0 100%;
    height: 300px;
  }
  .topArticle .articles .article-link .text .title {
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 20px;
    margin-top: 60px;
  }
  .topArticle .articles .article-link .text .content {
    margin-bottom: 60px;
    display: -webkit-box;
    line-height: 20px;
    font-size: 1.2em;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
  .topArticle .articles .article-link .text .more {
    padding: 10px 20px;
  }
}
@media (max-width: 551px) {
  .topArticle {
    width: 95%;
  }
  .topArticle .articles .article-link {
    flex: 0 0 100%;
    height: 210px;
  }
  .topArticle .articles .article-link .text .title {
    margin-top: 30px;
  }
  .topArticle .articles .article-link .text .content {
    margin-bottom: 20px;
  }
}
.post-nav {
  margin: 20px 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.post-nav .post-nav-prev,
.post-nav .post-nav-next {
  background: #000;
  flex: 1;
  height: 150px;
  position: relative;
}
.post-nav .post-nav-prev:hover .post-nav-img,
.post-nav .post-nav-next:hover .post-nav-img {
  opacity: 0.9;
}
.post-nav .post-nav-prev .post-nav-img,
.post-nav .post-nav-next .post-nav-img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  transition: all 0.3s;
  background-image: url("http://images.bokee.com/artpic_upload/2/0/6/2067714892/3191445171775.gif");
}
.post-nav .post-nav-prev .post-nav-link,
.post-nav .post-nav-next .post-nav-link {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
.post-nav .post-nav-prev .title {
  text-align: left;
  position: absolute;
  top: 40px;
  left: 40px;
}
.post-nav .post-nav-prev .content {
  text-align: left;
}
.post-nav .post-nav-prev a {
  color: #fff;
}
.post-nav .post-nav-next .title {
  text-align: right;
  position: absolute;
  top: 40px;
  right: 40px;
}
.post-nav .post-nav-next .content {
  text-align: right;
}
.post-nav .post-nav-next a {
  color: #fff;
}
@media (max-width: 551px) {
  .post-nav .post-nav-prev,
  .post-nav .post-nav-next {
    flex: 0 0 100%;
  }
}
.copyright {
  margin-top: 50px;
}
.post-copyright {
  margin: 2em 0 0;
  padding: 0.5em 1em;
  border-left: 3px solid #42b983;
  background-color: #f9f9f9;
  list-style: none;
  margin-top: 20px;
}
.post-copyright li {
  line-height: 30px;
  word-break: break-all;
}
.archive-header {
  background-color: #42b983;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.archive-header .title {
  color: #fff;
  font-size: 2em;
  letter-spacing: 10px;
}
.archive {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.archive .archive-content {
  position: relative;
}
.archive .post-archive::before {
  content: ' ';
  height: 100%;
  width: 1px;
  background-color: #d9d9d9;
  position: absolute;
  top: 0;
  left: -2.4em;
  z-index: -1;
}
.archive .post-archive .year {
  position: relative;
  margin-bottom: 30px;
}
.archive .post-archive .year a {
  color: #273849;
  font-weight: 700;
  font-size: 2em;
}
.archive .post-archive .year .bullet {
  width: 1rem;
  height: 1rem;
  box-sizing: border-box;
  border-radius: 50%;
  background: #bbb;
  z-index: 1;
  position: absolute;
  left: -2.4em;
  top: 50%;
  transform: translate(-50%, -50%);
}
.archive .post-archive .post-item {
  margin-bottom: 20px;
}
.archive .post-archive .post-item .post-date {
  padding: 5px;
  background-color: #42b983;
  color: #fff;
  border-radius: 5px;
}
.archive .post-archive .post-item .post-title {
  color: #555;
  text-decoration: underline;
  padding: 5px;
  transition: all 0.3s;
}
.archive .post-archive .post-item .post-title:hover {
  color: #42b983;
}
.archive .post-archive .post-item .post-title::before {
  top: 10px;
  width: 18px;
  height: 18px;
  content: "📚";
  margin-right: 5px;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 15px;
  line-height: 18px;
}
.tag-header {
  background-color: #42b983;
}
.tag {
  min-height: calc(100vh - 60px);
  padding-bottom: 20px;
}
.tag .tag-name {
  display: flex;
  justify-content: center;
}
.tag .tag-name .name {
  display: inline-block;
  background-color: #f00;
  margin-top: 20px;
  min-width: 30%;
  padding: 10px 20px;
  text-align: center;
  font-size: 1.6em;
  color: #273849;
  border-radius: 10px;
}
.category-header {
  background-color: #42b983;
}
.category {
  min-height: calc(100vh - 60px);
  padding-bottom: 20px;
}
.category .category-name {
  display: flex;
  justify-content: center;
}
.category .category-name .name {
  display: inline-block;
  background-color: #f00;
  margin-top: 20px;
  min-width: 30%;
  padding: 10px 20px;
  text-align: center;
  font-size: 1.6em;
  color: #273849;
  border-radius: 10px;
}
.friends-title {
  font-size: 1.6em;
  color: #273849;
  text-align: center;
  padding: 15px 0;
}
.friends-header {
  background-color: #42b983;
}
#friends {
  min-height: calc(60vh - 60px);
}
.friends {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px;
}
.friends .friend {
  width: 28%;
  box-shadow: 0 1px 20px -6px rgba(0,0,0,0.5);
  padding: 10px 15px;
  display: flex;
  background-color: #fff;
  transition: all 0.5s;
  margin-top: 10px;
}
.friends .friend:hover {
  transform: scale(1.2);
}
.friends .friend .friend-avatar {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}
.friends .friend .friend-avatar img {
  width: 100%;
  height: 100%;
}
.friends .friend .friend-info {
  flex: 1;
}
.friends .friend .friend-info .friend-introduction {
  width: 100%;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: #a3a3a3;
  font-size: 14px;
}
@media (max-width: 730px) {
  .friends .friend {
    width: 43%;
  }
}
@media (max-width: 551px) {
  .friends .friend {
    width: 100%;
  }
}
.about-header {
  background-color: #42b983;
}
#about .title {
  text-align: center;
  font-size: 1.6em;
  color: #273849;
  padding: 15px 0;
}
#about .subtitle {
  color: #273849;
  font-size: 1.4em;
}
#about .basic-info {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin: 15px;
}
#about .basic-info .items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#about .basic-info .items .item {
  flex: 0 0 100px;
  text-align: center;
  color: #273849;
}
#about .basic-info .items .item .border {
  border: 1px solid #273849;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 3.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
#about .basic-info .skill {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
#about .basic-info .skill .bar-box {
  position: relative;
  width: 45%;
  background-color: #dddcdc;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px;
  margin-right: 5%;
}
#about .basic-info .skill .bar-box .bar {
  width: 35%;
  background-color: #42b983;
  border-radius: 10px;
}
#about .basic-info .skill .bar-box .bar .bar-name {
  color: #fff;
  font-size: 14px;
  margin-left: 15px;
}
#about .basic-info .skill .bar-box .bar-number {
  color: #fff;
  font-size: 14px;
  position: absolute;
  right: 2%;
  top: 0;
}
#about .basic-info .socialAccounts {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
#about .basic-info .socialAccounts .account {
  margin-right: 20px;
  margin-top: 15px;
}
#about .basic-info .games {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
#about .basic-info .games .game-item {
  text-align: center;
  margin-right: 5%;
}
#about .basic-info .games .game-item .logo {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
}
#about .basic-info .games .game-item .logo img {
  width: 100%;
}
#about .basic-info .books {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
#about .basic-info .books .book-item {
  text-align: center;
  margin-right: 5%;
}
#about .basic-info .books .book-item .logo {
  width: 100px;
  height: 110px;
  overflow: hidden;
}
#about .basic-info .books .book-item .logo img {
  width: 100%;
  height: 100%;
}
.donate_bar {
  text-align: center;
}
.donate_bar a.btn_donate {
  display: inline-block;
  width: 82px;
  height: 82px;
  margin-left: auto;
  margin-right: auto;
  background: url("http://img.t.sinajs.cn/t5/style/images/apps_PRF/e_media/btn_reward.gif") no-repeat;
  -webkit-transition: background 0s;
  -moz-transition: background 0s;
  -o-transition: background 0s;
  -ms-transition: background 0s;
  transition: background 0s;
}
.donate_bar a.btn_donate:hover {
  background-position: 0 -82px;
}
.donate_bar .donate_txt {
  display: block;
  color: #9d9d9d;
  font: 14px/2 "Microsoft Yahei";
}
.post-donate {
  display: flex;
  justify-content: center;
}
.donate-box-mask {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: 11;
}
.donate-box {
  position: fixed;
  top: 15%;
  width: 300px;
  background-color: #fff;
  z-index: 12;
  overflow: hidden;
  padding: 10px;
}
.donate-box .donate-box_close {
  height: 20px;
}
.donate-box .donate-box_close i {
  float: right;
  color: #ccc;
  cursor: pointer;
}
.donate-box .donate-box_close i:hover {
  color: #000;
}
.donate-box .donate-box_title h4 {
  text-align: center;
  color: #273849;
  font-size: 1.4rem;
}
.donate-box .donate-box_tab {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.donate-box .donate-box_tab .Alipay,
.donate-box .donate-box_tab .WeChatpay {
  width: 20%;
  line-height: 20px;
  text-align: center;
  background-color: #ccc;
  padding: 10px 20px;
  color: #fff;
}
.donate-box .donate-box_tab .Alipay.active {
  background-color: #027aff;
}
.donate-box .donate-box_tab .WeChatpay.active {
  background-color: #00bc0d;
}
.donate-box .donate-box_img {
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 10px auto;
}
.donate-box .donate-box_img .AlipayImg,
.donate-box .donate-box_img .WeChatpayImg {
  width: 100%;
  height: 100%;
}
.donate-box .donate-box_img .AlipayImg img,
.donate-box .donate-box_img .WeChatpayImg img {
  width: 100%;
  height: 100%;
}
#vcomments textarea {
  box-sizing: border-box;
  background: url("/source/medias/comment_bg.png") 100% 100% no-repeat;
}
.search {
  color: #fff;
  padding: 0 15px;
  height: 100%;
  line-height: 60px;
  cursor: url("https://cdn.jsdelivr.net/gh/inkss/common@master/cursor/pointer.png"), pointer;
  transition: background-color 0.3s;
}
.search:hover {
  background-color: rgba(0,0,0,0.2);
}
.message-box_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  z-index: 11;
}
.message-box_wrapper .message-box {
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: 70%;
  padding: 10px 20px;
  margin-top: 100px;
  background-color: #fff;
}
.message-box_wrapper .message-box h2 {
  font-size: 1.5rem;
}
.message-box_wrapper .message-box .close {
  cursor: pointer;
}
.message-box_wrapper .message-box .close:hover {
  color: #42b983;
}
.message-box_wrapper .message-box #local-search-input {
  position: relative;
  width: 100%;
  display: block;
  background-color: transparent;
  box-sizing: border-box;
  font-size: 1rem;
  z-index: 2;
  padding: 0.25rem 0.7rem;
  outline: 0;
  border: 2px solid #42b983;
  border-radius: 2rem;
  font-size: 14px;
  margin-top: 15px;
}
.message-box_wrapper .result-wrapper {
  height: 80%;
  overflow: auto;
  overflow-x: hidden;
  margin-top: 10px;
}
.message-box_wrapper .result-wrapper .search-keyword {
  color: #d63200;
}
.message-box_wrapper .result-wrapper p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgba(0,0,0,0.5);
}
.message-box_wrapper .result-wrapper ul {
  list-style-type: none;
  box-sizing: border-box;
  padding: 10px;
}
.message-box_wrapper .result-wrapper ul li {
  padding: 15px 20px;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 0 4px 1px rgba(0,0,0,0.12);
  transition: all 0.3s;
}
.message-box_wrapper .result-wrapper ul li:hover {
  box-shadow: 0 0 8px 3px rgba(0,0,0,0.12);
}
@media (max-width: 551px) {
  .message-box_wrapper .message-box {
    width: 80%;
  }
}
#appDrawer .fa-bars {
  color: #fff;
}
#appDrawer .drawer-box_mask {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: 999;
}
#appDrawer .drawer-box {
  position: fixed;
  box-sizing: border-box;
  left: -240px;
  top: 0;
  width: 240px;
  height: 100%;
  z-index: 999;
  background-color: #fff;
  transition: left 0.3s;
}
#appDrawer .drawer-box.active {
  left: 0;
}
#appDrawer .drawer-box .drawer-box-head {
  padding: 20px 10px;
  color: #fff;
}
#appDrawer .drawer-box .drawer-box-head .drawer-box-head_logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
}
#appDrawer .drawer-box .drawer-box-head .drawer-box-head_title {
  text-align: center;
  font-size: 1.6em;
  font-family: "Comic Sans MS", cursive, LiSu, sans-serif;
  text-decoration: none;
}
#appDrawer .drawer-box .drawer-box-head .drawer-box-head_desc {
  font-size: 0.8em;
  text-align: center;
}
#appDrawer .drawer-box .drawer-box-content .drawer-box-content_menu .drawer-box-content_item {
  display: block;
  padding: 10px 20px;
}
#appDrawer .drawer-box .drawer-box-content .drawer-box-content_menu .drawer-box-content_item:hover {
  background-color: rgba(0,0,0,0.1);
}
#appDrawer .drawer-box .drawer-box-content .drawer-box-content_menu .drawer-box-content_item a {
  color: #273849;
  display: block;
  width: 100%;
  height: 100%;
}
.goTop {
  position: fixed;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  z-index: 1;
  bottom: 20px;
  right: 17px;
  border-radius: 50%;
  color: #fff;
  transform: translateY(120px);
  transition: transform 0.2s;
  box-shadow: -2px 2px 2px 2px rgba(255,255,255,0.5);
}
@media (max-width: 551px) {
  .goTop {
    width: 40px;
    height: 40px;
    line-height: 40px;
    right: 5px;
  }
}
.pace .pace-progress {
  background: #f6a427 !important; /*进度条颜色*/
  height: 3px;
}
.pace .pace-progress-inner {
  box-shadow: 0 0 10px #1e92fb, 0 0 5px #1e92fb; /*阴影颜色*/
}
.pace .pace-activity {
  border-top-color: #1e92fb; /*上边框颜色*/
  border-left-color: #1e92fb; /*左边框颜色*/
}
.swiper-btn-color {
  background-color: #42b983;
  color: #fff !important;
}
.swiper-pagination-bullet-active {
  background-color: #42b983 !important;
}
.topArticle .more:hover {
  color: #42b983 !important;
}
.posts .post-title .post-title-link:hover {
  color: #42b983;
}
.posts .post-more i:hover {
  color: #42b983;
}
.post-tags .article-tag-list li a:hover {
  color: #42b983;
}
.post-categories .article-category .article-category-link:hover {
  color: #42b983;
}
.post-detail a {
  color: #42b983 !important;
}
.post-copyright {
  border-left: 3px solid #42b983;
}
.post-detail blockquote {
  border-left: 4px solid #42b983;
  background-color: #f3f5f7;
}
.toc-link.is-active-link::before {
  background-color: #42b983;
}
.archive .post-archive .post-item .post-date {
  background-color: #42b983;
}
.archive .post-archive .post-item .post-title:hover {
  color: #42b983;
}
#vcomment .vcards .vcard .vh .vhead .vtag.vvisitor {
  background-color: #42b983 !important;
}
.v[data-class=v] .vbtn:active,
.v[data-class=v] .vbtn:hover {
  color: #42b983 !important;
  border-color: #42b983 !important;
}
.dark {
  color: #fff;
  background-color: #222;
  position: fixed;
  right: 0;
  bottom: 80px;
  right: 17px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  border: 2px solid #222;
  box-shadow: -2px 2px 2px 2px rgba(255,255,255,0.5);
  font-size: 1.5em;
  cursor: url("https://cdn.jsdelivr.net/gh/inkss/common@master/cursor/pointer.png"), pointer;
  transition: background-color 0.3s;
}
@media (max-width: 551px) {
  .dark {
    width: 40px;
    height: 40px;
    line-height: 40px;
    bottom: 70px;
    right: 5px;
  }
}
.darkModel .header .header-content .navbar .menu .menu-item a,
.darkModel .dark,
.darkModel .search,
.darkModel .header .blog-title a,
.darkModel .header #he-plugin-simple .s-sticker-tmp,
.darkModel .header #he-plugin-simple .s-sticker-city,
.darkModel .flag-text {
  color: #f0f6fc;
}
.darkModel .dark {
  background-color: #ffeb3b;
  border: 2px solid #ffeb3b;
}
.darkModel .read-more {
  color: #f0f6fc !important;
}
.darkModel .bg-floor {
  background: #282c34;
}
.darkModel .img-mask {
  transition: opacity 0.3s;
  opacity: 0.4;
}
.darkModel .swiper-bgmask {
  transition: opacity 0.3s;
  opacity: 0.4;
  background: #000;
}
.darkModel .topArticle .articles .article-link .text .title a,
.darkModel .topArticle .articles .article-link .text .more {
  color: #c9d1d9;
}
.darkModel .topArticle .articles .article-link .text .content {
  color: #8b949e;
}
.darkModel .topArticle {
  transition: background 0.3s;
  background: #2d3032;
}
.darkModel .topArticle h3 {
  color: #c9d1d9;
}
.darkModel .topArticle .article-link .article {
  transition: opacity 0.3s;
  opacity: 0.4;
}
.darkModel .posts .post {
  transition: all 0.3s;
  background-color: #2d3032;
}
.darkModel .posts .post .post-img a {
  transition: all 0.3s;
  filter: brightness(0.6);
}
.darkModel .posts .post-img-mobile a {
  transition: all 0.3s;
  filter: brightness(0.6);
}
.darkModel .posts .post-time {
  color: #8b949e;
}
.darkModel .posts .post-title .post-title-link {
  color: #c9d1d9;
}
.darkModel .posts .post-tags {
  color: #8b949e;
}
.darkModel .posts .post-content {
  color: #c9d1d9;
}
.darkModel .page-nav .page-nav-pre,
.darkModel .page-nav .page-nav-next,
.darkModel .page-nav .page-nav-prev {
  background-color: #222;
  color: #f0f6fc;
  transition: background-color 0.3s;
}
.darkModel .page-nav .page-nav-pre:hover,
.darkModel .page-nav .page-nav-next:hover,
.darkModel .page-nav .page-nav-prev:hover {
  background-color: #42b983;
}
.darkModel .color-primary {
  color: #222;
}
.darkModel .page-info-text {
  color: #f0f6fc;
}
.darkModel .top-btn-color {
  background-color: #222;
  color: #f0f6fc;
}
.darkModel .top-btn-color:hover {
  border: 1px solid #222;
}
.darkModel .swiper-btn-color {
  background-color: #2d3032;
  transition: all 0.3s;
}
.darkModel .swiper-btn-color:hover {
  background-color: #42b983;
}
.darkModel .border-color {
  border: 1px solid #222;
}
.darkModel .border-color:hover {
  border: 1px solid #42b983;
}
.darkModel .footer {
  color: #f0f6fc;
}
.darkModel .post-detail-header {
  position: relative;
}
.darkModel .post-detail-header .post-detail-header-mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
  z-index: 1;
}
.darkModel .post-detail-header .title {
  z-index: 2;
  color: f0f6fc;
}
.darkModel .post-detail {
  background-color: #2d3032;
  color: #f0f6fc;
}
.darkModel .post-detail .post-title {
  color: #f0f6fc;
}
.darkModel .post-detail p {
  color: #f0f6fc;
}
.darkModel .post-detail code {
  background-color: rgba(240,246,252,0.149);
  color: #f0f6fc;
}
.darkModel .post-detail pre code {
  background-color: transparent;
}
.darkModel .post-detail blockquote {
  background-color: rgba(240,246,252,0.149);
}
.darkModel .post-detail blockquote p {
  color: #f0f6fc;
}
.darkModel .post-detail h1,
.darkModel .post-detail h2,
.darkModel .post-detail h3,
.darkModel .post-detail h4,
.darkModel .post-detail h5,
.darkModel .post-detail h6 {
  color: #f0f6fc;
}
.darkModel .post-detail table tr:nth-child(2n),
.darkModel .post-detail thead {
  background-color: rgba(240,246,252,0.149);
}
.darkModel .post-detail table tr th,
.darkModel .post-detail table tr td {
  border: 1px solid rgba(240,246,252,0.149);
}
.darkModel .post-detail .post-copyright {
  background-color: rgba(240,246,252,0.149);
}
.darkModel .post-detail img {
  filter: brightness(0.6);
}
.darkModel #lv-ad-976 #container .reply-content {
  color: #f0f6fc;
}
.darkModel #comments {
  background-color: #2d3032;
  color: #f0f6fc;
}
.darkModel #vcomment .vheader .vnick {
  color: #f0f6fc;
}
.darkModel #vcomment .vheader .vmail {
  color: #f0f6fc;
}
.darkModel #vcomment .vheader .vlink {
  color: #f0f6fc;
}
.darkModel .v[data-class=v] .status-bar,
.darkModel .v[data-class=v] .veditor,
.darkModel .v[data-class=v] .vinput,
.darkModel .v[data-class=v] p,
.darkModel .v[data-class=v] pre code {
  color: #f0f6fc;
}
.darkModel .v[data-class=v] code {
  background-color: rgba(240,246,252,0.149);
}
.darkModel .v[data-class=v] .vbtn {
  color: #f0f6fc;
}
.darkModel .post-nav .post-nav-prev .post-nav-img,
.darkModel .post-nav .post-nav-next .post-nav-img {
  opacity: 0.4;
}
.darkModel .v[data-class=v] .vicon {
  fill: #f0f6fc;
}
.darkModel .toc-aside {
  background-color: rgba(45,48,50,0.6);
  color: #f0f6fc;
}
.darkModel .toc-aside .is-active-link {
  color: #42b983;
}
.darkModel .archive .post-archive .year a {
  color: #f0f6fc;
}
.darkModel .archive .post-archive .post-item .post-title {
  color: #f0f6fc;
}
.darkModel #categories .card .card-content .category-title,
.darkModel #tags .card .card-content .tag-title {
  color: #f0f6fc;
}
.darkModel .tag-content {
  background-color: #2d3032 !important;
}
.darkModel #tags .card .card-content .tag-chips a .tag-content {
  color: #f0f6fc;
}
.darkModel .category-content {
  background-color: #2d3032 !important;
}
.darkModel #categories .card .card-content .category-chips a .category-content {
  color: #f0f6fc;
}
.darkModel .archive-header,
.darkModel .tags-header,
.darkModel .tag-header,
.darkModel .categories-header,
.darkModel .category-header,
.darkModel .about-header,
.darkModel .friends-header {
  filter: brightness(0.5);
}
.darkModel .tag-name .name,
.darkModel .category-name .name,
.darkModel .friends .friend {
  background-color: #2d3032 !important;
  color: #f0f6fc;
}
.darkModel .friends-title {
  color: #f0f6fc;
}
.darkModel .friends .friend .friend-info .friend-introduction {
  color: #8b949e;
}
.darkModel #about .title {
  color: #f0f6fc;
}
.darkModel #about .basic-info {
  background-color: #2d3032;
  color: #f0f6fc;
}
.darkModel #about .subtitle,
.darkModel #about .basic-info .items .item {
  color: #f0f6fc;
}
.darkModel .skill,
.darkModel #about .basic-info .games .game-item .logo img,
.darkModel #about .basic-info .books .book-item .logo img {
  filter: brightness(0.6);
}
.darkModel #about .basic-info .games .game-item,
.darkModel #about .basic-info .books .book-item {
  color: #8b949e;
}
.darkModel #about .basic-info .socialAccounts .account {
  color: #8b949e;
}
.darkModel .message-box_wrapper .message-box {
  background-color: #2d3032;
}
.darkModel .message-box_wrapper .message-box h2,
.darkModel .message-box_wrapper .message-box .search-result,
.darkModel .message-box_wrapper .message-box .close,
.darkModel .message-box_wrapper .message-box #local-search-input {
  color: #8b949e;
}
.darkModel .message-box_wrapper .message-box .result-wrapper .local-search-empty {
  color: #8b949e;
}
.darkModel .message-box_wrapper .message-box .result-wrapper ul li {
  box-shadow: 0 0 4px 1px rgba(255,255,255,0.12);
}
.darkModel .message-box_wrapper .message-box .result-wrapper ul li:hover {
  box-shadow: 0 0 8px 3px rgba(255,255,255,0.12);
}
.darkModel .post-donate .donate_bar a.btn_donate {
  filter: brightness(0.7);
}
.darkModel .donate-box {
  background-color: #2d3032;
}
.darkModel .donate-box .donate-box_title h4,
.darkModel .donate-box .donate-box_close i {
  color: #8b949e;
}
.darkModel #appDrawer .drawer-box {
  background-color: #2d3032;
}
.darkModel #appDrawer .drawer-box .drawer-box-content .drawer-box-content_menu .drawer-box-content_item a {
  color: #f0f6fc;
}
.darkModel .bg-color {
  background-color: #222;
}
.darkModel .github-corner svg {
  fill: #f0f6fc !important;
  color: #222;
}
.darkModel .header #he-plugin-simple .s-sticker-tmp,
.darkModel .header #he-plugin-simple .s-sticker-city {
  color: #f0f6fc !important;
}
.note {
  padding: 12px 24px 12px 30px;
  border-left-width: 4px;
  border-left-style: solid;
  border-radius: 4px;
  margin: 1rem 0;
  background-color: #f3f5f7;
  border-color: #42b983;
  color: #2c3e50;
  position: relative;
}
.note.warning {
  border-color: #e6a23c;
  background-color: #fdf6ec;
}
.note.info {
  border-color: #409eff;
  background-color: #edf6ff;
}
.note.info::before {
  content: '\f129';
  background-color: #409eff;
  position: absolute;
  top: 14px;
  left: -12px;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  font-family: FontAwesome;
  font-size: 14px;
}
.note.quote::before {
  content: '\f10d';
  background-color: #42b983;
  position: absolute;
  top: 14px;
  left: -12px;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  font-family: FontAwesome;
  font-size: 14px;
}
.note.warning::before {
  content: '!';
  background-color: #e6a23c;
  position: absolute;
  top: 14px;
  left: -12px;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  font-family: FontAwesome;
  font-size: 14px;
}
.note.danger::before {
  content: '\f188';
  background-color: #f66;
  position: absolute;
  top: 14px;
  left: -12px;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  font-family: FontAwesome;
  font-size: 14px;
}
.note.danger {
  border-color: #f66;
  background-color: #fff0f0;
}
.note.success {
  border-color: #67c23a;
  background-color: #f0f9ec;
}
.note.success::before {
  content: '\f00c';
  background-color: #67c23a;
  position: absolute;
  top: 14px;
  left: -12px;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  font-family: FontAwesome;
  font-size: 14px;
}
