<div class="alert well fade in" id="gal-issue" role="alert">
    <!-- TODO 添加关闭公告框功能 -->
    <button type="button" class="close" data-dismiss="alert">×</button>
    <!-- 这里自行配置公告内容 -->
    欢迎光临本网站
    <br>
    各位亲爱的小伙伴们，本博客正在努力完善中    <strong>文章还不够详细，也不多，但我会慢慢改善的！</strong>
    <!-- 自行配置公告内容结束 -->
</div>